[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "CS100_Projects/googletest"]
	path = CS100_Projects/googletest
	url = https://github.com/google/googletest.git
